@model List<AutoHubProjeto.Models.Anuncio>

@{
    ViewData["Title"] = "Início";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}

<section class="hero-light">
    <div class="overlay"></div>
    <div class="hero-content">
        <h1>O teu próximo carro está à distância de um clique</h1>
        <p>Explora a nossa seleção de veículos usados de qualidade premium.</p>
        <a href="/Anuncios/Index" class="btn-hero">Ver Anúncios</a>
    </div>
</section>

<section class="featured">
    <div class="container">
        <h2 class="section-title">Anúncios em destaque</h2>

        <div class="grid">
            @foreach (var anuncio in Model)
            {
                var img = anuncio.AnuncioImagems
                .OrderBy(i => i.Ordem)
                .FirstOrDefault()?.Url ?? "imgs/carros.jpg";

                <article class="card">
                    <img src="~/@img" alt="@anuncio.Titulo">
                    <div class="card-body">
                        <h3 class="card-title">
                            @anuncio.IdVeiculoNavigation.Marca
                            @anuncio.IdVeiculoNavigation.Modelo
                        </h3>

                        <p class="meta">€ @anuncio.Preco.ToString("N0")</p>

                        <div class="actions">
                            <a href="/Veiculos/Detalhes/@anuncio.IdAnuncio" class="btn">Ver Detalhes</a>
                        </div>
                    </div>
                </article>
            }
        </div>
    </div>
</section>
